<% method = :post if !defined? method %>

<%= form_for([@collaborator], html: {class: "lato-form", multipart: true}, method: method) do |f| %>

    <div class="form-group">

      <%= raw view(:input, :text).new(value: @collaborator.name,
              name: 'collaborator[name]', label: 'Name', width: 'third', required: true) %>

      <%= raw view(:input, :text).new(value: @collaborator.surname,
              name: 'collaborator[surname]', label: 'Surname', width: 'third', required: true) %>

      <%= raw view(:input, :select).new(value: @collaborator.work_time_per_day,
              name: 'collaborator[work_time_per_day]', label: 'Work time per day',
              width: 'third', required: false, options: [
                {name: 'One', value: 1},
                {name: 'Two', value: 2},
                {name: 'Three', value: 3},
                {name: 'Four', value: 4},
                {name: 'Five', value: 5},
                {name: 'Six', value: 6},
                {name: 'Seven', value: 7},
                {name: 'Eight', value: 8}
              ]) %>

    </div>

    <h2 class="form-section-title">Contacts</h2>

    <div class="form-group">

      <%= raw view(:input, :text).new(value: @collaborator.email,
              name: 'collaborator[email]', label: 'Email', width: 'half', required: true) %>

      <%= raw view(:input, :text).new(value: @collaborator.phone,
              name: 'collaborator[phone]', label: 'Phone', width: 'half', required: false) %>

    </div>

    <% if method === :post || @collaborator.superuser_id.nil? %>

      <h2 class="form-section-title">Access settings</h2>

      <div class="form-group">

        <%= raw view(:input, :checkbox).new(value: true,
                name: 'collaborator[superuser]', label: 'Create access user', width: 'half', required: false) %>

        <%= raw view(:input, :checkbox).new(value: false,
                name: 'collaborator[superuser_admin]', label: 'Give addministrator permissions to access user', width: 'half', required: false) %>
      </div>

    <% end %>

    <%= f.submit 'Save', class: 'lato-button', :data => { disable_with: false } %>

</div>

<% end %>
