<%
today_tasks = @tasks.where(completed_date: Date.today)
yesterday_tasks = @tasks.where(completed_date: Date.yesterday)
%>

<% if !today_tasks.empty? || !yesterday_tasks.empty? %>
  <table class="table">
    <% if !today_tasks.empty? %>
      <tr>
        <th>Today tasks completed</th>
        <td><%= today_tasks.length %></td>
      </tr>
      <tr>
        <th>Today tasks expected time</th>
        <td><%= today_tasks.sum(:expected_work_time) %></td>
      </tr>
      <tr>
        <th>Today tasks real time</th>
        <td><%= today_tasks.sum(:real_work_time) %></td>
      </tr>
    <% end %>
    <% if !yesterday_tasks.empty? %>
      <tr>
        <th>Testerday tasks completed</th>
        <td><%= yesterday_tasks.length %></td>
      </tr>
      <tr>
        <th>Testerday tasks expected time</th>
        <td><%= yesterday_tasks.sum(:expected_work_time) %></td>
      </tr>
      <tr>
        <th>Testerday tasks real time</th>
        <td><%= yesterday_tasks.sum(:real_work_time) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No data to show</p>
<% end %>
