<table class="table">
  <tr>
    <th>Deadline</th>
    <td><%= @project.string_deadline %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= @project.status.capitalize %></td>
  </tr>

  <% if @superuser_is_admin %>
    <% if @project.quote %>
      <tr>
        <th>Quote</th>
        <td><%= @project.quote %></td>
      </tr>
    <% end %>
    <% if @project.client_id && @client && @client_function %>
      <tr>
        <th>Client</th>
        <td><%= @client.send(@client_function) %></td>
      </tr>
    <% end %>
  <% end %>

  <tr>
    <th>Project manager</th>
    <td><%= @project.string_superuser_manager_name %></td>
  </tr>
  <tr>
    <th>Collaborators</th>
    <td><%= @project.string_collaborators %></td>
  </tr>

  <% if !@project.main_domain.blank? %>
    <tr>
      <th>Main domain</th>
      <td><%= @project.main_domain %></td>
    </tr>
  <% end %>

  <% if !@project.hosting_provider.blank? %>
    <tr>
      <th>Hosting provider</th>
      <td><%= @project.hosting_provider %></td>
    </tr>
  <% end %>

  <% if !@project.ftp_server.blank? %>
    <tr>
      <th>FTP Server name</th>
      <td><%= @project.ftp_server %></td>
    </tr>
  <% end %>

  <% if !@project.ftp_user.blank? %>
    <tr>
      <th>FTP Username</th>
      <td><%= @project.ftp_user %></td>
    </tr>
  <% end %>

  <% if @superuser_is_admin && !@project.ftp_password.blank? %>
    <tr>
      <th>FTP Password</th>
      <td><%= @project.ftp_password %></td>
    </tr>
  <% end %>

  <% if !@project.ssh_server.blank? %>
    <tr>
      <th>SSH Server name</th>
      <td><%= @project.ssh_server %></td>
    </tr>
  <% end %>

  <% if !@project.ssh_user.blank? %>
    <tr>
      <th>SSH Username</th>
      <td><%= @project.ssh_user %></td>
    </tr>
  <% end %>

  <% if @superuser_is_admin && !@project.ssh_password.blank? %>
    <tr>
      <th>SSH Password</th>
      <td><%= @project.ssh_password %></td>
    </tr>
  <% end %>

  <% if @project.staging_url && !@project.staging_url.blank? %>
    <tr>
      <th>Staging url</th>
      <td><%= link_to @project.staging_url, @project.staging_url, target: '_blank' %></td>
    </tr>
  <% end %>

  <% if @project.production_url && !@project.production_url.blank? %>
    <tr>
      <th>Staging url</th>
      <td><%= link_to @project.production_url, @project.production_url, target: '_blank' %></td>
    </tr>
  <% end %>

</table>
