<div class="latoswpmanager-timeline">

  <a href="<%= lato_swpmanager.root_path(init_date: @init_date - 1) %>#timeline" class="timeline-navigation-arrow prev"><</a>
  <a href="<%= lato_swpmanager.root_path(init_date: @init_date + 1) %>#timeline" class="timeline-navigation-arrow next">></a>


  <% (@init_date..@end_date).to_a.each do |date| %>
  <% projects = @projects.where(deadline: date) %>
    <div class="timeline-day">
      <div class="timeline-day-title <%= date == Date.today ? 'today' : nil %>"><%= date.strftime('%d/%m') %></div>
      <div class="timeline-tasks">
        <% projects.each do |project| %>
          <a href="<%= lato_swpmanager.project_path(project.id) %>" class="timeline-task <%= project.status %>">
            <div class="timeline-task-title"><%= project.title %></div>
            <div class="timeline-task-info">Project manager: <b><%= project.superuser_manager_id ? project.string_superuser_manager_name : 'Unknown' %></b></div>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
