<table class="table">
  <tr>
    <th>Tasks numbers</th>
    <td></td>
  </tr>
  <tr>
    <td>Total tasks number</td>
    <td><%= @tasks.length %></td>
  </tr>
  <tr>
    <td>Without budget tasks number</td>
    <td><%= @tasks.where(budget: nil).length %></td>
  </tr>
  <tr>
    <td>Incorrect expected work time tasks number <i>(negative)</i></td>
    <td><%= @tasks.where('expected_work_time < real_work_time').length %></td>
  </tr>
  <tr>
    <td>Incorrect expected work time tasks number <i>(positive)</i></td>
    <td><%= @tasks.where('expected_work_time > real_work_time').length %></td>
  </tr>
  <tr>
    <th>Tasks work time</th>
    <td></td>
  </tr>
  <tr>
    <td>Tasks expected work time</td>
    <td><%= @tasks.sum(:expected_work_time) %></td>
  </tr>
  <tr>
    <td>Tasks real work time</td>
    <td><%= @completed_tasks.sum(:real_work_time) %></td>
  </tr>
  <tr>
    <th>Project budget</th>
    <td></td>
  </tr>
  <tr>
    <td>Tasks budget <i>(sum of every task budget)</i></td>
    <td><%= @tasks.sum(:budget) %></td>
  </tr>
  <tr>
    <td>Project quote <i>(project quote decided with client)</i></td>
    <td><%= @project.quote %></td>
  </tr>
</table>
