<table class="table">
  <tr>
    <th>Total tasks</th>
    <td><%= @tasks.length %></td>
  </tr>
  <tr>
    <th>Wait tasks</th>
    <td><%= @wait_tasks.length %></td>
  </tr>
  <tr>
    <th>Develop tasks</th>
    <td><%= @develop_tasks.length %></td>
  </tr>
  <tr>
    <th>Test tasks</th>
    <td><%= @test_tasks.length %></td>
  </tr>
  <tr>
    <th>Completed tasks</th>
    <td><%= @completed_tasks.length %></td>
  </tr>
</table>
