<div class="latoswpmanager-timeline">

  <a href="<%= lato_swpmanager.project_tasks_path(@project.id, init_date: @init_date - 1) %>#timeline" class="timeline-navigation-arrow prev"><</a>
  <a href="<%= lato_swpmanager.project_tasks_path(@project.id, init_date: @init_date + 1) %>#timeline" class="timeline-navigation-arrow next">></a>

  <% (@init_date..@end_date).to_a.each do |date| %>
  <% tasks = @tasks.where('start_date <= ?', date).where('end_date >= ?', date) %>
    <div class="timeline-day">
      <div class="timeline-day-title <%= date == Date.today ? 'today' : nil %>"><%= date.strftime('%d/%m') %></div>
      <div class="timeline-tasks">
        <% tasks.each do |task| %>
          <a href="<%= lato_swpmanager.task_path(task.id) %>" class="timeline-task <%= task.status %>">
            <% if task.real_work_time || task.expected_work_time %>
              <span class="timeline-task-time"><%= task.real_work_time ? task.real_work_time : task.expected_work_time %></span>
            <% end %>
            <div class="timeline-task-title"><%= task.title %></div>
            <div class="timeline-task-info"><% if task.string_task_category_title %><b><%= task.string_task_category_title %></b> - <% end %><%= task.collaborator ? task.collaborator.string_complete_name : 'Unknown' %></div>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
