<style>
  @page {
    size: A4;
  }

  .print-content {
    font-family: sans-serif;
  }

  .table {
    width: 960px;
    margin: auto;
  }

  .table, .table tr, .table td, .table th {
    border: none;
  }

  .text-align-center {
    text-align: center;
  }

  .text-transform-uppercase {
    text-transform: uppercase;
  }

  .header-table {
    text-align: left;
    border-collapse: collapse;
    border-bottom: solid 1px #333;
  }

  .header-table td {
    padding: 10px;
    width: 33%;
  }

  .header-table .application-name {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .header-table .project-name {
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
  }

  .tasks-table {
    text-align: left;
    border-collapse: collapse;
  }

  .tasks-table tr {
    border: solid 1px #333;
  }

  .tasks-table th {
    padding: 10px;
    width: 33%;
    border: solid 1px #333;
  }

  .tasks-table td {
    padding: 10px;
    width: 33%;
    border: solid 1px #333;
  }
</style>

<script>
  // window.print();
</script>

<div class="print-content">

  <!--<h1 class="project-title">Project: <%= @project.title %></h1>
  <h4 class="project-manager">Project manager: <%= @project.string_superuser_manager_name %></h4>

  <% if @status %>
    <h4 class="project-manager">Tasks status: <%= @status.to_sentence %></h4>
  <% end %>-->

  <table class="table header-table">
    <tr>
      <td class="application-name"><%= core_getApplicationName %></td>
      <td class="project-name"><%= @project.title %></td>
    </tr>
  </table>

  <br><br>

  <table class="table info-table">
    <tr>
      <td>
        Project manager: <b><%= @project.string_superuser_manager_name %></b> <br>
      </td>
    </tr>
    <tr>
      <td>
        Collaborators: <b><%= @project.string_collaborators(ids: @collaborators) %></b> <br>
      </td>
    </tr>
    <tr>
      <td>
        Tasks status: <b><%= @status.to_sentence %></b> <br>
      </td>
    </tr>
    <% if @start_date && !@start_date.blank? %>
    <tr>
      <td>
        From date: <b><%= @start_date %></b> <br>
      </td>
    </tr>
    <% end %>
    <% if @end_date && !@end_date.blank? %>
    <tr>
      <td>
        To date: <b><%= @end_date %></b> <br>
      </td>
    </tr>
    <% end %>
  </table>

  <br><br>

  <table class="table tasks-table">
    <tr>
      <th class="text-transform-uppercase">Tasks</th>
      <th class="text-align-center">Time (h)</th>
      <% if @show_expected_time %><th class="text-align-center">Expected time (h)</th><% end %>
      <th class="text-align-center">Collaborator</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td class="text-align-center"><%= task.real_work_time %></td>
        <% if @show_expected_time %><td class="text-align-center"><%= task.expected_work_time %></td><% end %>
        <td class="text-align-center"><%= task.string_collaborator_complete_name %></td>
      </tr>
    <% end %>
    <tr>
      <th></th>
      <th class="text-align-center">Total time: <%= @tasks.sum(:real_work_time) %>h</th>
      <% if @show_expected_time %><th>Total expected time: <%= @tasks.sum(:expected_work_time) %>h</th><% end %>
      <th class="text-align-center">Total tasks: <%= @tasks.length %></th>
    </tr>
  </table>

</div>
