<%

block = view(:layout, :block).new

project_button = view(:component, :button).new(title: 'Go to project',
url: lato_swpmanager.project_path(@project.id), size: :small)

tasks_actionbar = view(:layout, :actionbar).new(title: "#{@project.title} - Tasks", widgets: [
    {component: project_button, align: :right}
  ])

index = view(:layout, :index).new(head: ['End date', 'Title'],
elements: @deadline_tasks, attributes: [:string_end_date, :title],
link: lato_swpmanager.tasks_path, show_link: true, edit_link: false, delete_link: false)

wait_index = view(:layout, :index).new(head: ['Title'],
elements: @wait_tasks, attributes: [:title],
link: lato_swpmanager.tasks_path, show_link: true, edit_link: true, delete_link: true)

develop_index = view(:layout, :index).new(head: ['Title', 'Messages'],
elements: @develop_tasks, attributes: [:title, :get_messages_number],
link: lato_swpmanager.tasks_path, show_link: true, edit_link: true, delete_link: true)

test_index = view(:layout, :index).new(head: ['Title'],
elements: @test_tasks, attributes: [:title],
link: lato_swpmanager.tasks_path, show_link: true, edit_link: true, delete_link: true)

completed_index = view(:layout, :index).new(head: ['Title'],
elements: @completed_tasks, attributes: [:title],
link: lato_swpmanager.tasks_path, show_link: true, edit_link: true, delete_link: true)


%>

<%=raw tasks_actionbar %>

<div class="latoswpmanager-project-tasks-form <%= (@task.id ? 'active' : nil) %>">
  <div class="content-row">
    <%=raw block.open %>

      <%= render 'lato_swpmanager/back/tasks/shared/form', method: :post unless @task.id %>
      <%= render 'lato_swpmanager/back/tasks/shared/form', method: :put if @task.id %>

    <%=raw block.close %>
  </div>
</div>

<div class="content-row">
  <%=raw block.open(width: 'small-12 medium-7') %>

      <h6 class="latoswpmanager-small-title">Tasks deadline</h6>

      <%=raw index %>

  <%=raw block.close %>

  <%=raw block.open(width: 'small-12 medium-5') %>

    <%= render 'lato_swpmanager/back/projects/shared/tasks_info' %>

    <a class="lato-button button-small button-yellow" id="latoswpmanager-project-tasks-new-button" style="float: right">New task</a>

  <%=raw block.close %>
</div>

<div class="content-row">
  <%=raw block.open(width: 'large') %>

      <h6 class="latoswpmanager-small-title">Develop tasks</h6>

      <%=raw develop_index %>

  <%=raw block.close %>

  <%=raw block.open(width: 'large') %>

      <h6 class="latoswpmanager-small-title">Test tasks</h6>

      <%=raw test_index %>

  <%=raw block.close %>
</div>

<div class="content-row">
  <%=raw block.open(width: 'large') %>

      <h6 class="latoswpmanager-small-title">Wait tasks</h6>

      <%=raw wait_index %>

  <%=raw block.close %>

  <%=raw block.open(width: 'large') %>

      <h6 class="latoswpmanager-small-title">Completed tasks</h6>

      <%=raw completed_index %>

  <%=raw block.close %>
</div>
