<%

block = view(:layout, :block).new

back_button = view(:component, :button).new(title: 'All project tasks',
url: lato_swpmanager.project_tasks_path(id: @task.project_id), size: :small)

project_button = view(:component, :button).new(title: 'Project info',
url: lato_swpmanager.project_path(id: @task.project_id), size: :small)

actionbar_widgets = [{component: project_button, align: :right}]
if @superuser_admin
  actionbar_widgets.push({component: back_button, align: :right})
end

actionbar = view(:layout, :actionbar).new(title: 'Task view',
widgets: actionbar_widgets)

%>


<%=raw actionbar %>

<div class="content-row">
  <%=raw block.open(width: 'two-third') %>

    <h6 class="latowork-small-title"><%= @task.title %></h6>

    <%=raw @task.description %>

    <br><br>

    <h6 class="latowork-small-title">Task conversation</h6>

    <%= render 'lato_swpmanager/back/task_messages/shared/form' %> <br>

    <% if @task.task_messages && !@task.task_messages.empty? %>
      <%= render 'lato_swpmanager/back/task_messages/shared/conversation' %>
    <% end %>

  <%=raw block.close %>

  <%=raw block.open(width: 'third') %>

    <h6 class="latowork-small-title">Info</h6>

    <%= render 'lato_swpmanager/back/tasks/shared/info' %> <br>

    <h6 class="latowork-small-title">Update task</h6>

    <%= render 'lato_swpmanager/back/tasks/shared/small_form' %>

  <%=raw block.close %>
</div>
