<% @task.task_messages.reverse.each do |message| %>
  <div class="latowork-task-message <%= (@superuser.id === message.superuser_creator_id ? 'current' : nil) %>">
    <div class="user">
      <%= (message.get_superuser_name ? message.get_superuser_name : 'Anonymous') %> - <%= message.created_at.strftime('%d/%m/%Y - %H:%M') %>
      <% if @superuser_admin || @superuser.id === message.superuser_creator_id %>
        - <%= link_to 'delete', lato_swpmanager.task_message_path(message.id), method: :delete, style: 'text-decoration: none' %>
      <% end %>
    </div>
    <div class="message">
      <%=raw message.message %>
    </div>
  </div>
<% end %>
