<%

block = view(:layout, :block).new

new_button = view(:component, :button).new(title: 'Create new client',
url: lato_swpmanager.new_client_path, size: :small)

actionbar = view(:layout, :actionbar).new(title: "Clients", widgets: [
    {component: new_button, align: :right}
  ])

index = view(:layout, :index).new(head: ['Name', 'Email'], elements: @clients, attributes: [:name, :email],
link: lato_swpmanager.clients_path, show_link: false, edit_link: true, delete_link: true)

%>

<%=raw actionbar %>

<div class="content-row">
  <%=raw block.open %>

      <%=raw index %>

      <%= will_paginate @clients,  previous_label: '←',  next_label: '→' %>

  <%=raw block.close %>
</div>
