<%

block = view(:layout, :block).new

new_button = view(:component, :button).new(title: 'Create new collaborator',
url: lato_swpmanager.new_collaborator_path, size: :small)

actionbar = view(:layout, :actionbar).new(title: "Collaborators", widgets: [
    {component: new_button, align: :right}
  ])

index = view(:layout, :index).new(head: ['Name', 'Email'], elements: @collaborators, attributes: [:string_complete_name, :email],
link: lato_swpmanager.collaborators_path, show_link: true, edit_link: true, delete_link: true)

%>

<%=raw actionbar %>

<div class="content-row">
  <%=raw block.open %>

      <%=raw index %>

      <%= will_paginate @collaborators,  previous_label: '←',  next_label: '→' %>

  <%=raw block.close %>
</div>
