<%

block = view(:layout, :block).new

back_button = view(:component, :button).new(title: 'All collaborators',
url: lato_swpmanager.collaborators_path, size: :small)

access_button = view(:component, :button).new(title: 'Access settings',
url: lato_swpmanager.collaborator_edit_access_path, size: :small)

actionbar_widgets = []
if @superuser_is_admin
  actionbar_widgets.push({component: back_button, align: :right})
end
if @superuser_collaborator && @superuser_collaborator === @collaborator
  actionbar_widgets.push({component: access_button, align: :right})
end

actionbar = view(:layout, :actionbar).new(title: @collaborator.string_complete_name,
widgets: actionbar_widgets )

project_actionbar = view(:layout, :actionbar).new(title: 'Projects')

%>


<%=raw actionbar %>

<div class="content-row">
  <%=raw block.open(width: 'half') %>

      <h6 class="latoswpmanager-small-title">Info</h6>

      <%= render 'lato_swpmanager/back/collaborators/shared/info' %>

  <%=raw block.close %>

  <%=raw block.open(width: 'half') %>

      <h6 class="latoswpmanager-small-title">Tasks</h6>

      <%= render 'lato_swpmanager/back/collaborators/shared/tasks_info' %>

  <%=raw block.close %>
</div>

<div class="content-row" id="timeline">

    <%=raw block.open(width: 'large') %>

        <h6 class="latoswpmanager-small-title">Timeline</h6>

        <%= render 'lato_swpmanager/back/collaborators/shared/timeline' %>

    <%=raw block.close %>

</div>

<div class="content-row">

    <%=raw block.open(width: 'large') %>

        <h6 class="latoswpmanager-small-title">Productivity</h6>

        <%= render 'lato_swpmanager/back/collaborators/shared/productivity_info' %>

    <%=raw block.close %>

</div>

<%=raw project_actionbar %>

<div class="content-row">
  <%=raw block.open %>

    <% if @projects && !@projects.empty? %>
      <% @projects.each do |project| %>

        <h6 class="latoswpmanager-small-title latoswpmanager-collaborator-tasks-project-title"><%= project.title %> <%= link_to 'Show project', lato_swpmanager.project_path(project.id) %></h6>

        <table class="table">
          <% project.get_collaborator_tasks(@collaborator.id).each do |task| %>
            <tr class="latoswpmanager-collaborator-tasks-task-info">
              <td><span class="<%= task.status %>"></span></td>
              <td><%= task.title %></td>
              <td><%= link_to 'Info', lato_swpmanager.task_path(task.id), class: 'lato-button button-small' %></td>
            </tr>
          <% end %>
        </table>

      <% end %>
    <% else %>
      <h6 class="latoswpmanager-small-title">No projects for collaborator</h6>
    <% end %>

  <%=raw block.close %>
</div>
